.asset-row{
    display: grid;
    grid-template-columns: 20% 20% 20% 20% 20%;
}

.asset-row-material{

}

.asset-row-estate{
    
}

.asset-font{
    font-weight: bold;;
    transform: scale(0.7, 0.7);
}