.DataDisplay{
    margin: 30px 0 40px 0;
    padding: 12px;
}

.DataDisplay-1Data-ul, .DataDisplay-2Buttons-ul li{
  list-style: none;
  display: inline-block;
  margin: 8px;
}

.DataDisplay-btn{
  background: none;
  padding: 4px 8px 4px 8px;
  outline: none;
  color: rgb(129, 129, 129);
  border: 1px solid rgba(0, 0, 0, 0.432);
  cursor: pointer;
}

.cash{
  width: 200px;
  padding: 8px;
  border: 1px solid rgba(0, 0, 0, 0.144);
}

.DataDisplay-Figure{
  font-weight: bold;
  font-size: 28px;
}

.DataDisplay-Figure2{
  color: green;
  font-weight: bold;
  font-size: 10px;
}