.DataDisplay{
    margin: 50px 0 50px 0;
    padding: 12px;
}

.btn-inventory{
  background: none;
  padding: 4px 8px 4px 8px;
  outline: none;
  color: rgb(129, 129, 129);
  border: 2px solid rgb(163, 163, 163);
  border-radius: 8px;
  cursor: pointer;
}

.cash, .inventory{
  padding: 4px 0px 4px 0px;
}