.assetList{
    /* display: none; */
}


.assetListHeader{
    display: grid;
    grid-template-columns: 20% 20% 20% 20% 20%;
}

.asset-row-header{
    font-weight: bold;
    transform: scale(0.5, 0.5);
}