.assetList{
    /* display: none; */
}


.assetListHeader{
    display: grid;
    grid-template-columns: 10% 15% 35% 30% 10%;
}

.asset-row-header{
    font-weight: bold;
    transform: scale(0.5, 0.5);
}