.HideMainComponents{
    display: none;
}

.HideAddMenuComponent{
    display: none;
}

.MainComponents{
    display: block;
}

.AddMenuComponent{
    display: block;
}

@keyframes LoadMainScreen{
    0%{
        opacity: 0;
        transform:translate(0,-20px); 
        
    }
    100%{
        opacity: 100;
        transform:translate(0,-0);
    }
}