.Tile{
    display: inline-block;
    margin: 2px;
    height: 50px;
    width: 50px;
    border: 1px solid rgba(0, 0, 0, 0.25);
    border-radius: 12px;
}

.item-name{
    transform: scale(0.8, 0.8);
    color: rgba(0, 0, 0, 0.7);
    font-weight: bold;
}

.item-amount{
    color: white;
    font-weight: bold;
    transform: scale(0.7, 0.7);
    border-radius: 8px;
    background-color: rgba(1, 141, 255, 0.411);
}